body {
    background-color: slateblue;
}

.container {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: max-content;
    margin: auto;
    padding: 10rem;
}

.white-keys kbd {
    background-color: white;

    display: inline-block;
    width: 100px;
    height: 300px;
    border-style: solid;
    border-width: 3px;
    align-content: center;
    text-align: center;

}

.black-keys kbd {
    background-color: black;
    color: white;

    display: inline-block;
    width: 100px;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    margin: 3px;
    z-index: 1;
    position: relative;
    align-content: center;
    text-align: center;
}