body {
    background-color: slateblue;
}

.container {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: auto;
    padding: 10rem;
}

.white-keys kbd {
    border-style: solid;
    border-width: 3px;
    background-color: white;
    display: inline-block;
    align-content: center;
    text-align: center;
    width: 100px;
    height: 300px;
}

.black-keys kbd {
    background-color: black;
    color: white;
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    align-content: center;
    text-align: center;
    width: 100px;
    height: 200px;
    margin: 3px;
}

.l {
    margin-right: 5px;
}